body,
html {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2B3A3E;
  height: 200px;
}
.header__logo {
  height: 100%;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  display: flex;
  justify-content: space-around;
}
.header__nav__link {
  font-size: 32px;
  color: #ECECEE;
  transition: 0.5s;
  text-align: center;
  width: auto;
  margin-right: 50px;
}
.header__nav__link:hover {
  color: #C36244;
}
.header__nav__link--line {
  color: #C36244;
  padding-bottom: 5px;
  border-bottom: 3px solid #C36244;
}
@media (max-width: 992px) {
  .header__nav__link {
    font-size: 28px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .header__nav {
    flex-direction: column;
  }
  .header__nav__link {
    margin: 15px;
    margin-right: 50px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #939799;
  border-top: 1px solid #000000;
  padding: 15px 0;
}
.footer__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer__links__category {
  font-size: 20px;
  margin: 0;
  width: 33%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.footer__links__category:hover {
  color: #C36244;
}
.footer__copy {
  border-top: 1px solid #2B3A3E;
  width: 80%;
  text-align: center;
  padding-top: 5px;
  margin-top: 15px;
}

.create {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  background-color: #BBBCBD;
  padding-bottom: 25px;
}
.create__title {
  font-size: 30px;
}
.create__form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}
.create__form__label {
  font-size: 20px;
  margin-bottom: 5px;
}
.create__form__input {
  width: 50%;
  margin-bottom: 25px;
}
.create__form__input--wrong {
  border-color: #C36244;
}
.create__form__input--wrong::-moz-placeholder {
  color: #C36244;
}
.create__form__input--wrong::placeholder {
  color: #C36244;
}
.create__form__box {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  background-color: #ECECEE;
  border-radius: 25px;
  padding: 25px 0;
  border: 2px solid #9E8565;
}
.create__form__box__title {
  position: absolute;
  top: -27px;
  left: 15px;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  background-color: #939799;
  border: 2px solid #2B3A3E;
}
.create__form__button {
  width: 15%;
  padding: 5px 0;
  font-size: 24px;
  border-radius: 25px;
  border: 2px solid #2B3A3E;
  background-color: #ECECEE;
  transition: 0.5s;
}
.create__form__button:hover {
  background-color: #C36244;
  color: #ECECEE;
  border: 2px solid #000000;
}
@media (max-width: 768px) {
  .create__form {
    flex-direction: column;
  }
  .create__form__box {
    width: 75%;
    margin-bottom: 50px;
  }
  .create__form__button {
    width: 50%;
  }
}

.employees {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #BBBCBD;
  font-size: 18px;
  flex-grow: 1;
}
.employees__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.employees__filter__show {
  display: flex;
  align-items: center;
}
.employees__filter__show__text {
  margin: 0 10px;
}
.employees__filter__search__label {
  margin-right: 15px;
}
.employees__title {
  font-size: 32px;
}
.employees__table {
  position: relative;
  flex-grow: 1;
  margin: 25px 0;
  width: 90%;
  border: 5px solid #2B3A3E;
  overflow-x: auto;
  background-color: #ECECEE;
  border-radius: 20px;
}
.employees__table__header {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.employees__table__header__text {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
  text-align: center;
}
.employees__table__headerBackground {
  position: sticky;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #9E8565;
  border-bottom: 2px solid #000000;
  height: 75px;
  top: 0;
  left: 0;
}
.employees__table__data {
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 76px;
}
.employees__table__data__info {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employees__table__data__info__text {
  min-width: 125px;
  max-width: 125px;
  text-align: center;
  margin: 0;
  pointer-events: none;
  z-index: 2;
}
.employees__table__data__empty {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  margin: 0;
  position: relative;
  top: 45px;
}
.employees__page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.employees__page__text {
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.employees__page__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  width: 100%;
}
.employees__page__nav__box {
  display: flex;
  justify-content: center;
  margin: 25px 10px;
  flex-wrap: wrap;
}
.employees__page__nav__box__numberPage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0;
  transition: 0.5s;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
}
.employees__page__nav__box__numberPage:hover {
  background-color: #C36244;
  border: 2px solid #000000;
}
.employees__page__nav__box__numberPage--currentPage {
  background-color: #C36244;
  border: 2px solid #000000;
}
.employees__page__nav__button {
  border-radius: 25px;
  border: 2px solid #2B3A3E;
  background-color: #ECECEE;
  transition: 0.5s;
  padding: 5px 15px;
  width: 85px;
  cursor: pointer;
}
.employees__page__nav__button:hover {
  background-color: #C36244;
  color: #ECECEE;
  border: 2px solid #000000;
}
.employees__state {
  width: 80%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000000;
  margin: 25px;
  padding: 25px;
}
.employees__state__button {
  padding: 5px 0;
  font-size: 24px;
  border-radius: 25px;
  border: 2px solid #2B3A3E;
  background-color: #ECECEE;
  transition: 0.5s;
  width: 20%;
  margin: 0 25px;
}
.employees__state__button:hover {
  background-color: #C36244;
  color: #ECECEE;
  border: 2px solid #000000;
}
@media (max-width: 992px) {
  .employees__page__nav__button {
    width: 100px;
    margin: 5px;
  }
  .employees__page__nav__box {
    margin: 25px 0;
  }
  .employees__state__button {
    width: 30%;
  }
}

.arrows {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2px;
  display: flex;
  position: relative;
  left: 10px;
  flex-direction: column;
  width: 0;
}
.arrows__up {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #2B3A3E transparent;
  margin-bottom: 3px;
}
.arrows__up--active {
  border-color: transparent transparent #000000 transparent;
}
.arrows__up--unactive {
  border-color: transparent transparent #939799 transparent;
}
.arrows__down {
  border-width: 5px 5px 0 5px;
  border-color: #2B3A3E transparent transparent transparent;
}
.arrows__down--active {
  border-color: #000000 transparent transparent transparent;
}
.arrows__down--unactive {
  border-color: #939799 transparent transparent transparent;
}
.arrows__up, .arrows__down {
  width: 0;
  height: 0;
  border-style: solid;
}

.backgroundEmployee {
  height: 74px;
  min-width: 100%;
  position: sticky;
  left: 0;
  border-bottom: 1px solid #2B3A3E;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 1;
}
.backgroundEmployee:hover {
  background-color: #C36244;
}

.modal {
  position: absolute;
  top: 45%;
  z-index: 1;
  font-size: 40px;
  width: 80%;
  border-radius: 25px;
  text-align: center;
  display: none;
  background-color: rgba(147, 151, 153, 0.8);
  padding: 25px 0;
  border: 2px solid #000000;
}
.modal__title {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
}
.modal__box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.modal__box__button {
  width: 25%;
  padding: 5px 0;
  font-size: 24px;
  border-radius: 25px;
  border: 2px solid #2B3A3E;
  background-color: #ECECEE;
  transition: 0.5s;
}
.modal__box__button:hover {
  background-color: #C36244;
  color: #ECECEE;
  border: 2px solid #000000;
}/*# sourceMappingURL=main.css.map */