.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color_1;
    height: 200px;
    &__logo{
        height: 100%;
        width: 250px;
        object-fit: cover;
    }

    &__nav{        
        display: flex;
        justify-content: space-around;
        &__link{
            font-size: 32px;
            color: $color_2;
            transition: 0.5s;
            text-align: center;
            width: auto;
            margin-right: 50px;
            &:hover{                
                color: $color_4;
            }
            &--line{
                color: $color_4;
                padding-bottom: 5px;
                border-bottom: 3px solid $color_4;
            }
        }
    }
    @media(max-width:$screen_tablet) {
        &__nav{
            &__link{
                 font-size: 28px;
            }
        }
        @media (max-width:$screen_mobile) {
            &__nav{
                flex-direction: column;
                &__link{
                    margin: 15px;
                    margin-right: 50px;
                }
            }
            
        }
       
    }
        
    
}